h2{
  color : white;
  background-color: deepskyblue;
  text-align : center;
  font-size: 30px;

}

div.A1{
  text-align : center;
  color : dodgerblue;
  font-size: : 20px;
  width: 320px;
  padding: 10px;
  margin: 0;
  background-color: white;
  border : 3px;
  border-radius : 2px;
  border-color: dodgerblue;
}
