/* *{outline:1px solid red;} */

h1{
  color : white;
  background-color : deepskyblue;
  text-align : center;
  font-size : 60px;
  padding: 50px 0px 50px 0px;
}

h2{
  color : white;
  background-color: deepskyblue;
  text-align : center;
  font-size: 30px;
  padding : 10px;
}

div.V1{
  text-align : center;
  color : dodgerblue;
  width: 320px;
  padding: 10px;
  margin: auto;
  background-color: white;
  border : 3px;
  border-radius : 2px;
  border-color: dodgerblue;
}

.but {
  border-radius: 20px;
  width: 70%;
  height: 40px;
  border : 10px;
  color : white;
  background-color : royalblue; ;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}
